{:tasks
 {squint:filter-repo
  {:doc "Rewrites squint mirror..."
   :requires ([clojure.string :as str])
   :task (do
           (let [sha (str/trim (:out (shell {:out :string} "git rev-parse HEAD")))
                 shell (fn [& args]
                         (apply println args)
                         (apply shell args))]
             (shell "git filter-repo --subdirectory-filter=squint")
             (shell "git checkout -b" (str "bump-common-" (subs sha 0 7)))
             (let [prefix (if-let [token (System/getenv "SQUINT_GITHUB_TOKEN")]
                            (str "borkdude:" token "@")
                            "")]
               (shell (format "git remote add upstream https://%sgithub.com/quint-cljs/squint.git"
                              prefix)))
             (shell "git fetch upstream")
             (shell "git rebase upstream/main")
             (shell "bb bump-common --sha" sha)
             (shell "git add deps.edn")
             (shell "git commit -m 'Bump compiler-common'")
             (shell "git rebase upstream/main")
             ;; (shell "git checkout deps.edn --theirs")
             ;; (shell "git add deps.edn")
             ;; (shell {:extra-env {"GIT_EDITOR" "true"}} "git rebase --continue")
             ))}}}
