name: Squint Filter Repo

on:
  push:
    branches:
      - main

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - name: "Checkout code"
      uses: "actions/checkout@v2"
      with:
        submodules: true
        persist-credentials: false

    - name: Prepare java
      uses: actions/setup-java@v2
      with:
        distribution: "adopt"
        java-version: 11

    - name: "Restore Cache"
      uses: "actions/cache@v1"
      with:
        path: "~/.m2/repository"
        key: "${{ runner.os }}-deps-${{ hashFiles('deps.edn') }}"
        restore-keys: "${{ runner.os }}-deps-"

    - name: Setup python
      uses: actions/setup-python@v2
      with:
        python-version: 3.x

    - name: Download filter-repo
      run: |
        curl -sLO https://raw.githubusercontent.com/newren/git-filter-repo/main/git-filter-repo
        chmod +x git-filter-repo
        mv git-filter-repo /usr/local/bin
        printf '#!/bin/sh\n\nexec python "$@"\n' > python3
        chmod +x python3
        mv python3 /usr/local/bin

    - name: Setup Clojure
      uses: DeLaGuardo/setup-clojure@9.3
      with:
        bb: latest

    - name: Filter repo
      env:
        # Note: token must have access to squint-cljs with read/write for Contents, Actions, Issues and Pull Requests
        GITHUB_TOKEN: ${{ secrets.SQUINT_GITHUB_TOKEN }}
      run: |
        original_sha=$(git rev-parse HEAD)
        git filter-repo --subdirectory-filter=squint
        git config user.name github-actions[bot]
        git config user.email github-actions[bot]@users.noreply.github.com
        short_sha=$(git rev-parse --short HEAD)
        git checkout -b "bump-common-$short_sha"
        git remote add origin https://$GITHUB_TOKEN@github.com/squint-cljs/squint.git
        git fetch origin
        bb bump-common --sha "$original_sha"
        git add deps.edn
        git commit -m "Bump compiler common"
        git rebase origin/main --strategy-option theirs
        echo "Pushing"
        git push -u https://borkdude:$GITHUB_TOKEN@github.com/squint-cljs/squint.git HEAD
        branch=$(git branch --show)
        bb -x tasks/pull-request --github-token "$GITHUB_TOKEN" --branch "$branch"
